<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Official NuGet source -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  
  <!-- Disable all other package sources by default -->
  <disabledPackageSources>
  </disabledPackageSources>

  <!-- NuGet restore behavior -->
  <config>
    <!-- Allow .NET 10 packages (in case of compatibility issues) -->
    <add key="allowMultipleVersionsPerPackage" value="false" />
  </config>
</configuration>
