@import '../../../variables.scss';

.esh-identity {
    line-height: 3rem;
    position: relative;
    text-align: right;

    &-section {
        display: inline-block;
        width: 100%;
    }

    &-name {
        display: inline-block;

        &--upper {
            text-transform: uppercase;
        }

        @media screen and (max-width: $media-screen-s) {
            font-size: $font-size-s;
        }
    }

    &-image {
        display: inline-block;
    }

    &-arrow {
        display: inline-block;
        height: 7px;
        margin-left: .35rem;
        vertical-align: middle;
        width: 10px;
    }

    &-drop {
        background: $color-background-brighter;
        height: 10px;
        width: 200px;
        overflow: hidden;
        padding: .5rem;
        position: absolute;
        right: 0;
        top: 2.5rem;
        transition: height $animation-speed-default;
    }

    &:hover &-drop {
        border: $border-light solid $color-foreground-bright;
        height: auto;
        max-height: 15rem;
        overflow-y: auto;
        transition: height $animation-speed-default;
    }

    &-drop &-item {
        cursor: pointer;
        transition: color $animation-speed-default;
        display: block;
        padding: 0.75rem 1rem;
        line-height: 1.5;
        text-align: left;
        color: #000;

        &:hover {
            color: $color-secondary-dark;
            background-color: #f5f5f5;
            transition: color $animation-speed-default;
        }
    }
}
